@using Microsoft.AspNetCore.Components
@using Blackjack.Core
@using BlackJack.Core
@using Blackjack.Core.Entities
<br />
<br />
<div>
    @if(_ready)
    {
        <DealerHandControl @ref="_dealerHandControl" GameController="Controller" DealerHand="_dealerHand"></DealerHandControl>
    }
  
</div>
|-------------------------------------------------------------------------------------------------------------|
<br />
<br />
<br />
<br />
<br />
|-------------------------------------------------------------------------------------------------------------|
<br />

<div>
    <div>Total Bet: @_totalBet.ToString("c0")</div>
    <DynamicComponent Type="typeof(PlayerHandControl)" @ref="_dynamicPlayerHandControl" Parameters="_playerHandParameterDictionary"> </DynamicComponent>
    <br />
    <br />
    <br />
    <br />
    <div>
        Bet Amount: <input type="text" @bind="@_betIncrement" /> <button @onclick="IncreaseBet">Bet</button>
        <br/>
        
        @if (_isBetValid)
        {
            <button @onclick="Deal">Deal</button>
        }
    </div>

    Bankroll: $<p>@_bankroll</p>
</div>


<div @onkeydown="HandleKeyDown" @onkeyup="HandleKeyUp" @onkeydown:preventDefault 
     style="background-color: #000000; width: 80vw; height: 80vh; margin: auto"
     tabindex="0" @ref="mainDiv">
    <div style="color: white; top: @(Player.Top)px; left: @(Player.Left)px; width: 16px; height: 17px; overflow: hidden; position: relative">
        <img 
            src="/images/Cards.PNG" 
            style="margin: 0 @(Graphics.PlayerOffset)px; transform: scaleX(@(Graphics.PlayerDirection))" />
    </div>
</div>


@code {

    [Parameter]
    public  GameController Controller { get; set; }

    [Parameter]
    public  Player Player { get; set; }

    private PlayerHand _playerHand;

    private DealerHand _dealerHand;

    private DynamicComponent _dynamicPlayerHandControl;

    private DealerHandControl _dealerHandControl;

    private string _playerHandId;

    private bool _isBetValid = false;
    private int _betIncrement;
    private int _totalBet;

    private string _bankroll;

    private bool _ready;


    private IDictionary<string, object> _playerHandParameterDictionary = new Dictionary<string, object>();


    protected override Task OnInitializedAsync()
    {
        Console.WriteLine("Initialized Gamesession");
        Controller.OnBankrollChange += ControllerOnOnBankrollChange;
        Controller.OnGameEnd += ControllerOnOnGameEnd;
        Controller.OnShowAllCards += ControllerOnOnShowAllCards;
        Controller.MinimumBet = Defaults.MINIMUM_BET;
        Controller.ShuffleAll();
        _betIncrement = Controller.MinimumBet;
        _bankroll = "1000";

        return base.OnInitializedAsync(); 
    }

    private void ControllerOnOnShowAllCards(object sender, EventArgs e)
    {

    }

    private void ControllerOnOnGameEnd(object sender, EventArgs e)
    {
        Console.WriteLine("ControllerOnOnGameEnd");
        _totalBet = 0;
        _isBetValid = false;
        StateHasChanged();

        
    }


    private void ControllerOnOnBankrollChange(object sender, OnBankrollChangedEventArgs e)
    {
        Console.WriteLine("ControllerOnOnBankrollChange");
        _bankroll = e.Player.PlayerbankRoll.ToString("c0");
        StateHasChanged();
     
    }


    private void IncreaseBet(MouseEventArgs obj)
    {
        Console.WriteLine("IncreaseBet");
        _totalBet += _betIncrement;
        _isBetValid = true;
        Controller.AdjustPlayerBankroll(Player, -_betIncrement);
        StateHasChanged();
    
        
    }

    public void SplitHand()
    {
        //    PlayerHandControl newPlayerHandControl = new PlayerHandControl(_controller.ActivePlayer, _controller, this, State.NotYetPlayed);
        //    _playerHandControlList.Add(newPlayerHandControl);
        //    newPlayerHandControl.Visible = true;
        //    _playerLayoutPanel.Controls.Add(newPlayerHandControl);

        //    _controller.SeedSplitHandWithNewCard(newPlayerHandControl.PlayerHand);
        //    _controller.RemoveCardForSplitFromActivePlayerHand();
        //    _controller.IncreaseBet(newPlayerHandControl.PlayerHand, double.Parse(_bet.ToString()));

        //    newPlayerHandControl.DeactivateButtons();
        ////add another card to first hand
        //    _controller.GivePlayerNextCardInShoe(_controller.ActivePlayer.ActiveHand, true);
        ////add another card to last hand
        //    _controller.GivePlayerNextCardInShoe(newPlayerHandControl.PlayerHand, true);
    }


    private async Task Deal()
    {
        Console.WriteLine("Deal Start");
        Player.IsActive = true;
        _playerHand = Controller.AddHandToPlayer(Player, State.Playing, _totalBet);
        _dealerHand = Controller.AddDealerHandToDealer();
        ((PlayerHandControl)_dynamicPlayerHandControl.Instance).Initialize(_playerHand, _totalBet, Controller);

        await Controller.DealAsync();
        _ready = true;
        Console.WriteLine("Deal End");
        StateHasChanged();
    }
}
